@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #101922;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111a22;
}

::-webkit-scrollbar-thumb {
  background: #233648;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #344d66;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}